@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: #dde4d8;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
header {
  width: 100%;
}

h1 {
  text-align: center;
}
nav {
  position: absolute;
  right: 40px;
  top: 25px;
  display: block;
}
li > a {
  text-decoration: none;
  color: rgb(240, 234, 224) !important;
}
li {
  display: inline-block;
  margin: 0px 5px;
  padding: 9px;
  border: 1px solid #2f3e46;
  border-radius: 4px;
  background-color: #2f3e46;
}
ul{
  display: inline;
  list-style-type: none;
}

h2 {
  padding-top: 15px;
}

p {
  text-align: center;
}
span{
  text-decoration: underline;
}
.container {
  padding-top: 20px;
  background-color: #2f3e46;
}
.form {
  margin: 0 auto;
  background-color: rgba(132, 169, 140, 0.9);
  padding-top: 20px;
}

form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  opacity: 1;
}

label {
  width: 70%;
  text-align: left;
  display: inline-block;
  margin: 7px 0px;
}
input {
  width: 70%;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid rgb(47, 62, 70, 0.7);
}
input[type="submit"] {
  border: 2px solid #2f3e46;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #2f3e46;
  color: rgb(240, 234, 224);
}
section {
  padding-bottom:30px;
  width: 70%;
  margin: 20px auto;
  background-color: rgba(132, 169, 140, 0.9);
  text-align: center;
}

table {
  margin: 10px auto;
  padding-top: 10px;
  width: 90%;
}
a:visited {
  color: blue;
}
tr {
  text-align: center;
  margin: 5px 0px;
  padding: 15px;
}
th, td {
  padding: 5px;
  height: 100%;
  border: 2px solid black;
}
th {
  background-color:#6E948B;
}
td {
  background-color: #dde4d8;
}
footer {
  text-align: center;
  background-color: #dde4d8;
  padding: 3%;
}
