.imagen-card {
    height: 50%;
}

.nombre-empresa {
    position: absolute;
    top: 40%;
    margin: 0 auto;
}

.empresa-cont {
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.empresa-cont>img {
    z-index: -1;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}

.empresa-cont:hover>img {
    transform: scale(1.1);
}

.empresa-cont:hover>.nombre-empresa {
    display: block;
    color: white;
}

textarea {
    resize: none;
}